.container {
  display: flex;
  padding: 20px 32px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  position: relative;
  border-right: 1px solid var(--Color-border-primary-desktop, #e4e4e7);
  border-bottom: 1px solid var(--Color-border-primary-desktop, #e4e4e7);
}
.active {
  background-color: #fff;
  border: none;
}
.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 100%;
  background: var(--Color-btn-primary, #119822);
}
.image {
  border-radius: 100px;
}
.info h3 {
  overflow: hidden;
  color: var(--Color-text-primary, #18181b);
  text-overflow: ellipsis;
  font-family: "Source Serif 4";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
  letter-spacing: 0.41px;
}
.details {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
.details p {
  color: var(--Color-text-third, #94969c);

  font-family: "Source Sans 3";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.41px;
}
